doctype html
html
	head
		title= Sockterm
		link(rel='stylesheet', href='/stylesheets/sockterm.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Code+Pro')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/socket.io.min.js')
		script(src='/javascripts/term.min.js')
		script(src='/javascripts/sockterm.js')
	body(spellcheck='false')
		block content
