html, body
	margin 0 auto
	padding 0

#terminal
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background #101010
	color #f0f0f0
	font 14px "Source Code Pro", Monospace
	text-shadow 0 0 2px #f0f0f0


